.background {
    background: #3a4965;
    background-size: cover;
    width: 100%;
}

.content {
    width: 1140px;
    margin: 24px auto;
}

table {
    border-collapse: collapse;
    margin-top: 23px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
}

th, td {
    box-shadow: inset 0px 4px 4px -2px rgba(0,0,0,0.2);
}

.gorizont-cells-first {
    width: 198px;
    background-color: #fafafa;
}

.first-cell-small {
    font-family: Arimo;
    color: #484848;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.first-cell-big {
    font-family: Arimo;
    color: #484848;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.gorizont-cells {
    width: 157px;
    font-family: Arimo;
    color: #484848;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    line-height: 28px;
    text-transform: uppercase;
    padding-top: 21px;
    padding-bottom: 21px;
}

.style1 {
    background-color: #e3e3e3;
    font-family: Arimo;
    color: #484848;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.style2 {
    background-color: #f2f2f2;
    font-family: Arimo;
    color: #484848;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.style11 {
    background-color: #e3e3e3;
    font-family: Arimo;
    color: #484848;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.style22 {
    background-color: #f2f2f2;
    font-family: Arimo;
    color: #484848;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}


.fas {
    color: #848484;
}

.far {
    color: #848484;
}

.price {
    font-family: Arimo;
    color: #fff;
    background-color: #fafafa;
    padding-top: 13px;
    padding-bottom: 15px;
}

.price-big {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    padding-top: 10px;

}

.price-middle {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.price-middle-small {
    font-size: 18px;
    font-weight: 700;
    position: relative;
    bottom: 13px;
}

.price-small {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    top: 13px;
}

.price-style1 {
    background-color: #89c331;
}

.price-style2 {
    background-color: #f04a56;
}

.price-style3 {
    background-color: #20807c;
}

.button {
    margin-top: 19px;
    margin-bottom: 11px;
    height: 41px;
    text-align: center;
}

.buy-now {
    font-family: Arimo;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    border: 0px;
    border-radius: 5px;
    background: #484848;
    padding-top: 16px;
    padding-bottom: 10px;
    padding-left: 33px;
    padding-right: 33px;
    cursor: pointer;
    border-bottom: 6px solid #404040;
}

.buy-now:hover {
    background: #404040;
}
